body {
  font-family: Arial, sans-serif;
}

h3 {
  color: rgb(31, 164, 133);
}

#guarantee {
  background-color: rgba(56, 189, 158, 0.489);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: small;
  width: 550px;
  display: flex;
}

.container {
  border: 1.5px solid rgb(21, 79, 67);
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  padding-left: 10px;
}

#guarantee-image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

#image1 {
  width: 200px;
}
