body {
  font-family: Arial, sans-serif;
  text-align: justify;
}

h3 {
  color: rgb(31, 164, 133);
}

#guarantee {
  background-color: #38bd9e7d;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: small;
  width: 600px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.container {
  margin: 40px auto;
  width: 900px;
  line-height: 1.6;
  border: 2px solid #000000;
  padding: 30px;
}

#guarantee-image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

#image1 {
  width: 200px;
}

blockquote {
  width: 500px;
  margin: auto;
}
